<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD de Usuarios</title>
  <!-- Agregamos los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Agregamos la CDN de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card w-250 mx-auto">
          <div class="card-header">
            <h1 class="text-center mt-5 mb-4">Usuarios</h1>
            <form action="/users" method="POST">
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </form>
            <hr>
            <h2 class="mt-4">Lista de Usuarios</h2>
            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((user)=> { %>
                  <tr>
                    <td>
                      <%= user.name %>
                    </td>
                    <td>
                      <%= user.email %>
                    </td>
                    <td>
                      <a href="/users/edit/<%= user._id %>" class="btn btn-sm btn-primary mr-1">Editar</a>
                      <a href="/users/delete/<%= user._id %>" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
</body>
<style>
  .card {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .card form label {
    font-weight: bold;
  }

  body {
    background-color: #f8f9fa;
    background-image: linear-gradient(135deg, #4eabd9 10%, #ebeef5 100%);
    background-size: 400% 400%;
    animation: GradientBackground 15s ease infinite;
  }

  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


  form {
    max-width: 700px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  ul li {
    margin-bottom: 0.5rem;
  }
</style>